.body {
    background-color: lightblue;
}

.title {
    display: block;
    text-align: center;
}

.card {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Stronger shadow */
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .textarea {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type='submit'] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type='submit']:hover {
    background-color: #0056b3;
  }

  .contactContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 16px;
    overflow-y: auto;
    flex: 1;
    background-color: #ffffff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
/* Responsive styles for small screens */
@media (min-width: 640px) {
    .gridContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* Responsive styles for medium screens */
@media (min-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* Responsive styles for large screens */
@media (min-width: 1024px) {
    .gridContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* Additional responsive styling */
@media (min-width: 1280px) {
    .gridContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}