/* Main container for the search results page */
.searchResultsContainer {
  margin-top: 70px;
  margin-bottom: 100px;
  padding: 16px;
  overflow-y: auto;
  flex: 1;
  background-color: #ffffff;
}

/* Styles for the grid container */
.searchResults {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
  justify-items: center;
}

/* Main container for the course card */
.courseCard {
  position: relative;
  background-color: var(--platinum);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

/* Hover effect for the course card */
.courseCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

/* Image within the course card */
.courseCardImage {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

/* Overlay with gradient and text */
.courseCardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  color: var(--platinum);
  padding: 1rem;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

/* Show overlay on hover */
.courseCard:hover .courseCardOverlay {
  opacity: 1;
}

/* Title within the overlay */
.courseCard h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: var(--platinum);
}

/* Description within the overlay */
.courseCard p {
  margin-top: 0.5rem;
  color: var(--platinum);
}

/* Responsive styles for small screens */
@media (max-width: 850px) {
  .searchResults {
      grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* Additional responsive styling */
@media (min-width: 851px) and (max-width: 1280px) {
  .searchResults {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .searchResults {
      grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}