/* General styles for body and html elements */
body, html {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Styles for the homepage container */
.homepageContainer {
    margin-top: 70px;
    margin-bottom: 100px;
    padding: 16px;
    overflow-y: auto;
    flex: 1;
    background-color: #ffffff;
}

/* Styles for the inner container of the homepage */
.homepageInnerContainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* Styles for the grid container */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
    justify-items: center;
}

/* Responsive styles for small screens */
@media (min-width: 640px) {
    .gridContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* Responsive styles for medium screens */
@media (min-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* Responsive styles for large screens */
@media (min-width: 1024px) {
    .gridContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* Additional responsive styling */
@media (min-width: 1280px) {
    .gridContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
