/* TipsModal.module.css */
.modalContent {
  width: 300px;
  height: 200px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  top: auto;
  left: auto;
  margin-right: 0;
  transform: none;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.textCenter {
  text-align: center;
}

button {
  padding: 0.75rem;
  /* Padding inside the button */
  background-color: var(--pacific-cyan);
  /* Background color for the button */
  color: #fff;
  /* White text color */
  border: none;
  /* Remove default border */
  border-radius: 8px;
  /* Rounded corners */
  cursor: pointer;
  /* Pointer cursor on hover */
  font-size: 1rem;
  /* Font size */
  transition: background-color 0.3s ease;
  /* Smooth transition effect for hover state */
}

button:hover {
  background-color: #3700b3;
  /* Darker shade on hover */
}