:root {
  --rich-black: #071013;
  --pacific-cyan: #23B5D3;
  --moonstone: #75ABBC;
  --cadet-grey: #A2AEBB;
  --platinum: #DFE0E2;
  --fuschia: #eb40df;
  --purple: #34107C;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
