/* Footer styles */
.footer {
  background-color: var(--rich-black); /* Background color */
  color: var(--platinum); /* Text color */
  padding: 10px; /* Padding */
}

.container {
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Column layout */
  align-items: center; /* Center align items */
}

.links {
  display: flex; /* Flexbox layout */
  gap: 1rem; /* Spacing between links */
  margin-bottom: 1rem; /* Margin bottom */
}

.link {
  color: var(--platinum); /* Link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Transition effect */
}

.link:hover {
  color: var(--pacific-cyan); /* Hover color */
}

.copyright {
  font-size: 0.875rem; /* Font size */
}
